body{
    background-color: #204051;
}

.card{
    position: relative;
}

.front{
    width: 350px;
    height: 200px;
    background-color: blanchedalmond;
    margin: 100px auto 0 auto;
    border-radius: 15px;
}